.admin-navbar-section{background-color: #0d0d10;

.navbar{display: flex;
    padding: 20px 0;
    ul{display: flex;
        margin: 0;
    gap: 10px;
li{a{
    
    color: #fcb424;
}
}}
button{margin: 0;}
}}