.wishlist-container {
  min-height: 20vh;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .wishlist-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .wishlist-item {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 150px;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    background: #f9f9f9;
    transition: 0.3s;

    &:hover {
      background: #f0f0f0;
    }
    .wish-buttons{
      display: flex;
      gap: 10px;
      button{margin: 0;}
    }

    .wishlist-image {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 8px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .item-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    .item-price {
      font-weight: bold;
      color: #27ae60;
    }

    .remove-btn {
      background: #e74c3c;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: #c0392b;
      }
    }
  }
}
