.blog-image {
  img {
    width: 356px;
    height: 356px;
    border-radius: 8px;
  }
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid #fcb424;
  padding: 7px;
  border-radius: 8px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.blog-content {
  h6 {
    font-size: 15px;
    font-weight: 700;
    color: #535353;
  }
  h2 {
    font-size: 35px;
    font-weight: 700;
    color: #0d0e10;
  }
  p {
    font-size: 20px;
    color: #535353;
  }
}
.sidebar-blog {
  background-color: #0d0e10 !important;
  background: url("https://startersites.io/blocksy/e-bike/wp-content/uploads/2024/04/shop-sidebar-banner-image.webp");
  background-position: center;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: "Wix Madefor Display", serif;
  border-radius: 8px;
  align-content: end;
  padding: 40px;
  h3 {
    line-height: 1.4 !important;
    font-size: 30px;
    font-weight: 700;
    max-width: 150px;
    margin: 220px 0 20px 0;
  }
  svg {
    width: 50px;
    height: 50px;
  }
  button {
    background-color: white;
    color: #0d0e10;
    font-weight: 600;
    width: 128px;
  }
}

@media (max-width: 768px) {
  .blog-image {
    img {
      width: 256px;
      height: 256px;
    }
  }

  .blog-content {
    h6 {
      font-size: 13px;
    }
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
  }
}

body.dark{  
  .blog-content {
    h6 {
      color: #cbcbcb;
    }
    h2 {
      color: white;
    }
    p {
      font-size: 20px;
      color: #cbcbcb;
    }
  }
  
}